<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="TVTESTDISCConnectionString"
      connectionString="Data Source=tvtestdisc.db.8552201.hostedresource.com; Initial Catalog=tvtestdisc; User ID=tvtestdisc; Password=Tbit8wog!;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>